<!-- views/partials/head.ejs -->
<title>深圳市微云信息技术有限公司</title>
<link rel="dns-prefetch" href="//html5plat.com" /><!-- 增加对www.html5plat.com的预解析 -->
<meta charset="utf-8" />
<meta name="spm-id" content="a21bo" />
<meta name="description" content="" />
<meta name="keyword" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<meta http-equiv="x-dns-prefetch-control" content="on" />

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>